* {
  box-sizing: border-box;
  font-weight: 300;
  line-height: 150%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #222;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

p {
  margin: 24px 0;
}

a, a:visited {
  text-decoration: none;
  color: #2490BA;
}

a:hover, a:active {
  text-decoration: underline;
}

#main {
  background-image: url('../img/hero.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0 ;
  padding-top: 400px;
}

@media all and (max-width: 900px) {
  #main {
    background-size: 900px;
  }
}

#navi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 20px;
  background: rgba(0,0,0,0.8);
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

#navi-items {
  max-width: 900px;
  margin: 0 auto;
}

#navi-items a {
  display: inline-block;
  margin-right: 50px;
  line-height: 60px;
}

#navi-items a.active {
  color: #ddd;
}

@media all and (max-width: 500px) {

  #navi:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    width: 32px;
    height: 32px;
    background: url("../img/hamburger.svg");
    transition: opacity 0.3s;
  }

  #navi-items a {
    display: none;
  }

  #navi {
    height: auto;
    padding: 0;
  }
  #navi.open:before {
    opacity: 0;
  }
  #navi.open #navi-items {
    border-top: 1px solid #333;
  }

  #navi.open #navi-items a {
    display: block;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #333;
    text-align: center
  }
}

#container {
  background: #fff;
  position: relative;
  max-width: 900px;
  margin: 0 auto 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.coach {
  max-width: 400px;
  padding: 20px;

  display: inline-block;
  vertical-align: top;
}

.coach img {
  width: 100%;
  border-radius: 50%;
}

.coach h3 {
  text-align: center
}

li {
  margin: 12px 0;
}

#logo {
  float: right;
}