* {
  box-sizing: border-box;
  font-weight: 300;
  line-height: 150%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  color: #222;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
  clear: both;
}

p {
  margin: 24px 0;
}

li {
  margin: 12px 0;
}

hr {
  clear: both;
  border: 0 none;
  border-bottom: 1px solid #ccc;
}

a,
a:visited {
  text-decoration: none;
  color: #2490ba;
}

a:hover,
a:active {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

#main {
  background-image: url("../img/hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  padding-top: 400px;
}

@media all and (max-width: 900px) {
  #main {
    background-size: 900px;
  }
}

#navi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#navi-items {
  max-width: 900px;
  margin: 0 auto;
}

#navi-items a {
  display: inline-block;
  margin-right: 50px;
  line-height: 60px;
}

#navi-items a.active {
  color: #ddd;
}

@media all and (max-width: 500px) {
  #navi:before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 32px;
    height: 32px;
    background: url("../img/hamburger.svg");
    transition: opacity 0.3s;
  }

  #navi-items a {
    display: none;
  }

  #navi {
    height: auto;
    padding: 0;
  }
  #navi.open:before {
    opacity: 0;
  }
  #navi.open #navi-items {
    border-top: 1px solid #333;
  }

  #navi.open #navi-items a {
    display: block;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #333;
    text-align: center;
  }
}

#container {
  background: #fff;
  position: relative;
  max-width: 900px;
  margin: 0 auto 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register-button,
.register-button:visited {
  display: block;
  padding: 20px 0;
  background: #2490ba;
  color: #fff;
  border-radius: 10px;
  width: 300px;
  font-size: 125%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: opacity 0.2s ease-in-out;
}

.register-button:hover {
  text-decoration: none;
  opacity: 0.9;
}

.coach {
  width: 49%;
  padding: 20px;

  display: inline-block;
  vertical-align: top;
}

@media all and (max-width: 500px) {
  .coach {
    width: 100%;
  }
}

.coach img {
  width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s;
}

.coach:hover img {
  -webkit-filter: none;
  filter: none;
}

.coach h3 {
  text-align: center;
}

#logo {
  float: right;
}

@media all and (max-width: 500px) {
  #logo {
    float: none;
  }
}

.material {
  width: 200px;
  float: right;
  clear: both;
  margin-top: -60px;
  margin-bottom: 10px;
}

@media all and (max-width: 500px) {
  .material {
    width: 100%;
    float: none;
    margin-top: 0;
  }
}

.trophy-table {
  width: 100%;
  border-collapse: collapse;
}

.trophy-table th {
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.trophy-table tr:nth-child(even) {
  background-color: #f5f6f7;
}

.trophy-table td {
  padding: 5px 20px 5px 0;
}

@media all and (max-width: 500px) {
  .trophy-table th {
    display: none;
  }

  .trophy-table td {
    display: block;
  }

  .trophy-table td:nth-child(1) {
    font-weight: 500;
    padding-left: 50px;
  }

  .trophy-table td:before {
    display: inline-block;
    width: 50px;
    color: #999;
  }

  .trophy-table td:nth-child(2):before {
    content: "MRT: ";
  }

  .trophy-table td:nth-child(3):before {
    content: "GW: ";
  }
  .trophy-table td:nth-child(4):before {
    content: "SS: ";
  }
}

.warning {
  padding: 20px;
  background: orangered;
  color: white;
  clear: both;
  font-size: 120%;
  letter-spacing: 0.5px;
}
