<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tapanilan Erä, miekkailujaosto</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div id="main">
        <div id="container">
          <h1>Tapanilan Erä - miekkailujaosto</h1>
       <!--   <img id="logo" src="img/logo_era.jpg" alt="Logo">-->
        {{ content }}
        </div>
    </body>
</html>